*{
	font-family: arial;
	margin: 0px;
	padding: 0px;
	border: none;
	transition: 0s;
}

.element {
	float: left;
	border: none;
}
body {
	background-color: black;
	overflow: hidden;
}
#corpo {
	background-color: rgb(158, 158, 158);
	overflow: hidden;
	cursor: crosshair;
	display: block;
}
#image {
	width: 94%;
	height: 600px;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 8px;
	position: absolute;
	top: -1000px;
	left: calc(6% / 2);
	right: calc(6% /2);
	transition: .3s;
	overflow: auto;
	cursor: pointer;
	background-color: black;
	display: block;
}
@media screen and (min-width: 800px){
	#menu {
		position: fixed;
		top: 5px;
		right: 5px;
		width: 60px;
		height: auto;
		background-color: rgb(68, 216, 167);
		padding: 10px;
		border-radius: 5px;
		cursor: move;
	}
	#select-color {
		width: 100%;
		height: 40px;
		border: 4px solid black;
		border-radius: 5px;
	}
	#select-linha {
		width: 100%;
		padding: 5px 10px;
		color: rgba(0,0,0,.4);
		font-size: 16px;
		margin-top: 10px;
		border-radius: 5px;
	}
	
	.icon {
		width: 80%;
		padding: 5px 0px;
		border: none;
		background-color: rgb(252, 252, 252);
		margin: 10px 10%;
		font-size: 24px;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
		transition: .2s;
	}
	.icon:hover {
		background-color: rgb(201, 201, 201);
	}
	.icon-hidden {
		width: 80%;
		border: none;
		background-color: rgb(252, 252, 252);
		margin: 0px 10% 10px 10%;
		font-size: 24px;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
	}.icon-hidden:hover {
		background-color: rgb(201, 201, 201);
	}
}

@media screen and (max-width: 800px){
	#menu {
		position: fixed;
		top: 10px;
		right: 10px;
		width: 50px;
		height: auto;
		background-color: rgb(68, 216, 167);
		padding: 5px;
		border-radius: 3px;
		cursor: move;
	}
	#select-color {
		width: 100%;
		height: 30px;
		border: 2px solid black;
		border-radius: 3px;
	}
	#select-linha {
		width: 100%;
		padding: 5px 2px;
		color: rgba(0,0,0,.4);
		font-size: 16px;
		margin-top: 5px;
		border-radius: 3px;
	}
	
	.icon {
		width: 90%;
		padding: 2px 0px;
		border: none;
		background-color: rgb(252, 252, 252);
		margin: 10px 5%;
		font-size: 20px;
		text-align: center;
		border-radius: 3px;
		cursor: pointer;
	}
	
	.icon:hover {
		background-color: rgb(201, 201, 201);
	}

	.icon-hidden {
		width: 80%;
		border: none;
		background-color: rgb(252, 252, 252);
		margin: 0px 10% 10px 10%;
		font-size: 18px;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
	}.icon-hidden:hover {
		background-color: rgb(201, 201, 201);
	}
}

.image-buttons {
	padding: 10px 24px;
	border: none;
	border-radius: 5px;
	float: left;
	cursor: pointer;
	margin: 15px;
}
.success {
	background-color: rgb(68, 216, 167);
	color: #fff;
}
.cancel {
	background-color: rgb(228, 65, 65);
	color: #fff;
}
#save-buttons {
	position: fixed;
	bottom: 20px;
	left: 20px;
}

#load-area {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100vh;
	background-color:rgb(76, 223, 150);
}

#spinner {
	width: 50px;
	height: 50px;
	border: 5px solid rgb(0, 0, 0);
	border-radius: 50%;
	margin: auto;
	margin-top: calc(50vh - 50px);
	border-top-color: rgba(76, 223, 150,0);;
	transition: .5s;
	animation: rotate .5s linear infinite;
}

@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}